@model PlaceSearch.Models.Place

<html>
<head>
    <title>Delete</title>
</head>
<body>

    <h2>Are you sure you want to delete this?</h2>
    <hr />
    @Html.DisplayNameFor(model => model.PlaceName): @Html.DisplayFor(model => model.PlaceName)
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
    @Html.ActionLink("Back to List", "Index")
</body>
</html>