@{
    ViewData["Title"] = "Place Searcher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PlaceSearch.Models.Place

<html>
<head>
    <title>Details</title>
</head>
<body>
    <h2>Map</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)
    <p>@Html.ActionLink("Back to list", "Index")</p>

    <iframe width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCx9RPE3y7EThzUlMFvLNyyIPlRPDRYVLo&q=@Model.Address" allowfullscreen>
    </iframe>
</body>
</html>