@model IEnumerable<PlaceSearch.Models.Place>

<html>
<head>
    <title>Place Search</title>
</head>
<body>
    <h2>Place Search</h2>
    <h4>@Html.DisplayNameFor(model => model.PlaceName)</h4>
    <ul>
        @foreach (var listPlace in Model)
        {
            <li>@Html.DisplayFor(modelPlace => listPlace.PlaceName) | @Html.ActionLink("Details", "Details", new { id = listPlace.PlaceId })</li>
        }
    </ul>
</body>
</html>